* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.active {
    color: #444444 !important;
    background-color: #B3E5FC !important;
}
